@import '../../variables';

.tsvc-cmoiw-form {
  position: relative;
  z-index: 10;

  h3 {
    margin-top: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__selected {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    overflow: hidden;
  }

  &__chip {
    text-transform: none;
    max-width: 100%;
  }

  &__inputs {
    display: flex;
    flex-direction: row;

    .tsvc-link {
      margin-bottom: 0;
    }

    .react-autosuggest__container {
      flex: 1;
      align-items: stretch;
    }
  }

  &__field-box {
    padding: 5px 0;
    width: 100%;

    .react-autosuggest__input {
      background: transparent;
    }
  }

  &__label {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;

    span {
      display: block;
      margin-bottom: 5px;

      &.MuiChip-label {
        margin-bottom: 0;
      }
    }

    .tsvc-button {
      height: 100%;
      border-left: 0;
      span {
        display: inline-flex;
        margin-bottom: 0;
      }
    }

    ::placeholder {
      color: #000;
      font-size: 16px;
      font-family: 'Lato', 'sans-serif';
    }
  }
}

.tsvc-cmoiw-form__content {
  position: relative;
  z-index: 12;
  margin-bottom: 60px;
}
