.tsvc-newsletter-form {
  margin-top: 18px;

  h4 {
    font-size: 16px !important;
    font-weight: 400 !important;
    margin: 0 0 10px 0;
    color: #fff;
    text-transform: uppercase;
  }

  &__form {
    border: 1px solid #fff;
    display: flex;
    align-items: center;
  }

  &__field-box {
    &--text {
      flex-grow: 1;
    }

    &--submit {
      margin: 0;
      padding: 0;

      button {
        border-width: 0 0 0 1px;

        span {
          width: 110px;
        }
      }
    }
  }

  &__field {
    border: none;
    background: transparent;
    font-family: 'Lato', 'sans-serif';
    outline: none;
    color: #fff;
    display: block;
    padding: 10px 15px;
    width: 100%;
  }

  &__field-error {
    display: block;
    font-size: 12px;
    color: #fff;
    margin-top: 5px;
    margin-left: 15px;
  }

  ::placeholder {
    font-family: 'Lato', 'sans-serif';
    color: #fff;
  }
}
