.tsvc-gear-search-results {
  h3 {
    margin-top: 0;
  }

  &__list {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;

    &-links {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      width: 100%;

      & > * {
        @include calculateFlexBasisWithGap(2, 20px);
        display: flex;
        justify-content: center;

        > button {
          width: 100%;
        }
      }

      @media all and (min-width: 992px) and (max-width: 1199px) {
        gap: 10px;
        & > * {
          flex-basis: 100%;
        }
      }
    }
  }

  &__item-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media all and (min-width: 768px) and (max-width: 992px) {
      align-items: flex-start;

      article {
        margin-left: 0;
      }
    }

    img {
      display: block;
      border: 1px solid #a6a6a6;
      max-width: 100%;
      padding: 20px;
      background: #fff;
      margin-bottom: 20px;
    }
  }

  &__item-right {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (min-width: 768px) and (max-width: 991px) {
      margin-top: 0;
      margin-left: 30px;
    }

    @media all and (min-width: 576px) {
      align-items: flex-start;
    }

    h4 {
      margin-top: 0;
      font-size: 18px;
    }

    p {
      margin-top: 0;
      margin-bottom: 30px;
    }

    @media all and (min-width: 992px) {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}

.tsvc-gear-search-bg {
  position: relative;
  padding: 30px 0 60px 0;

  &__content {
    position: absolute;
    bottom: 0;
    right: -9999px;
    top: 0;
    left: -9999px;
    z-index: 1;
    background: $color-light-2;
  }

  @media all and (min-width: 992px) {
    margin-top: 0;
    padding: 0;

    .tsvc-gear-search-bg__content {
      bottom: -40px;
      right: -9999px;
      top: -40px;
      left: -60px;
    }
  }
}
