.tsvc-onefield-form {
  @media all and (max-width: 991px) {
    margin-top: 20px;
  }

  h4 {
    font-size: 16px !important;
    font-weight: 400 !important;
    margin: 0 0 10px 0;
    color: #fff;
    text-transform: uppercase;
    text-align: left;

    @media all and (max-width: 575px) {
      text-align: center;
    }
  }

  &__form {
    border: 1px solid #fff;
    display: flex;
    align-items: stretch;
  }

  &__field-box {
    display: flex;

    &--text {
      flex-grow: 1;

      input {
        background-color: transparent;
      }
    }

    &--submit {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: stretch;

      button {
        border-width: 0 0 0 1px;

        span {
          width: 110px;
        }
      }
    }
  }

  &__field {
    border: none;
    background: transparent;
    font-family: 'Lato', 'sans-serif';
    outline: none;
    color: #fff;
    display: block;
    padding: 10px 15px;
    width: 100%;
  }

  &__field-error {
    display: block;
    font-size: 12px;
    color: #fff;
    margin-top: 5px;
    margin-left: 15px;
  }

  ::placeholder {
    font-family: 'Lato', 'sans-serif';
    color: #fff;
  }

  &--black {
    h4 {
      color: #000;
    }

    .tsvc-onefield-form {
      &__form {
        border-color: #000;
      }

      &__field-box {
        &--submit {
          button {
            color: #000;
            border-color: #000;
          }
          em {
            border-color: #000;
          }
          svg {
            fill: #000;
          }
        }
      }

      &__field {
        color: #000;
      }

      &__field-error {
        color: #000;
      }
    }

    ::placeholder {
      color: #000;
    }
  }
}
