.tsvc-login-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 2000;

  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    position: relative;
    z-index: 2;
  }

  &__error {
    color: red;
    text-align: left;
    width: 100%;
    margin: 10px 0 0 0px;
    font-size: 13px;
  }

  &__overlay {
    background: radial-gradient(circle, $color-light-1 0%, $color-blue-1 100%);
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__close-button {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    z-index: 5;
  }
}
