.tsvc-form {
  &__form {
    margin-top: -10px;
  }

  &__field-box {
    padding-bottom: 5px;

    .MuiFormControl-root {
      width: 100%;
    }

    .MuiInputBase-root {
      margin-top: 14px;
    }

    .MuiFormLabel-root {
      font-size: 16px;
    }

    .MuiFormHelperText-root {
      font-size: 13px;
    }

    &--multiline {
      padding-top: 50px;
    }

    &--select {
      padding-bottom: 30px;
    }

    &--captcha {
      padding-bottom: 30px;
    }

    &--checkbox {
      .MuiFormLabel-root {
        margin: 30px 0 10px;
      }

      .MuiFormGroup-root {
        flex-direction: row;
        width: 100%;

        .MuiFormControlLabel-root {
          margin: 0;
          flex-basis: calc(100% / 3);

          .MuiIconButton-root {
            margin-left: -7px;
            padding: 5px;
          }

          .MuiTypography-root {
            @include article;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.54);
            margin: 0;
            align-self: center;
          }
        }
      }
    }

    &--submit {
      margin-top: 30px;

      .tsvc-button {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &__field {
    width: 100%;
  }

  article {
    h4 {
      margin-top: 0;
      text-transform: uppercase;
      text-align: center;
    }
  }

  @media all and (min-width: 768px) {
    article {
      h4 {
        text-align: left;
        margin-top: 10px;
      }
    }

    &__field-box {
      &--submit {
        .tsvc-button {
          width: auto;
          max-width: revert;
        }
      }
    }
  }
}

.tsvc-contact-form {
  margin-top: 40px;
}
