.tsvc-cmoiw-results-list {
  overflow: hidden;

  &__items {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
  }

  &__item {
    display: flex;
    padding: 20px 30px;
    position: relative;

    &:nth-child(even) {
      background-color: $color-light-2;
    }

    &:nth-child(odd) {
      background-color: $color-light-3;
    }

    &-actions {
      display: flex;
      align-items: flex-start;
      z-index: 2;

      .MuiFormControlLabel-root {
        display: flex;
        align-items: center;
      }

      .MuiFormControlLabel-root-1 {
        display: flex;
        align-items: center;
      }

      svg {
        cursor: pointer;

        &:hover {
          fill: $color-blue-3;
        }
      }
    }

    &-check {
      margin: -5px 5px 0 0 !important;
      padding: 0;
    }

    &-delete {
      margin: 5px 10px 0 -5px;
    }

    &-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      z-index: 2;

      &-row {
        display: flex;
        flex-direction: column;
        flex: 1;
        font-size: 15px;
        margin-bottom: 5px;

        &-label {
          // flex: 0 0 30%;
          /*text-align: right;*/
          margin-right: 15px;
        }

        &-value {
          font-weight: 600;
          flex: 1;
        }

        @media all and (max-width: 767px) {
          flex-direction: column;
          padding: 0 10px 10px;
          margin-bottom: 10px;
          font-size: 14px;

          &:last-child {
            margin-bottom: 0;
            border: none;
          }

          .tsvc-cmoiw-results-list__item-content-row {
            &-label {
              text-align: left;
            }
          }
        }
      }
    }
  }

  &__actions {
    display: flex;
    gap: 20px;
    padding: 20px 42px;

    .Component-root-7 {
      display: flex;
      align-items: center;

      .Component-label-8 {
        margin-top: 0;
      }
    }

    .Component-root-1 {
      align-items: center;
    }

    .Component-label-2 {
      margin-top: 0;
    }

    button {
      border: none;
      padding: 0;
      display: inline-flex;
      align-items: center;
      background-color: transparent;
      cursor: pointer;
      transition: 0.3s color;

      &:hover {
        color: $color-blue-3;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    > div {
      display: flex;
      gap: 20px;
      align-items: stretch;

      button {
        &:not(.tsvc-button) {
          border: none;
          padding: 0;
          display: inline-flex;
          align-items: center;
          background-color: transparent;
          cursor: pointer;
          transition: 0.3s color;

          &:hover {
            color: $color-blue-3;
          }
        }
      }
    }
  }

  &.step-2 {
    .tsvc-cmoiw-form-results-list__item {
      &:nth-child(even) {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: -9999px;
          background-color: $color-light-2;
          z-index: 1;
        }
      }
      &:nth-child(odd) {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: -9999px;
          background-color: $color-light-3;
          z-index: 1;
        }
      }

      @media all and (max-width: 991px) {
        &::after {
          display: none;
        }
      }
    }
  }

  &--wide {
    .tsvc-cmoiw-results-list {
      &__item {
        &-content {
          &-row {
            flex-direction: row;

            &-label {
              text-align: right;
            }
          }
        }
      }
    }
    @media all and (max-width: 1199px) {
      .tsvc-cmoiw-results-list {
        &__item {
          &-content {
            &-row {
              flex-direction: column;

              &-label {
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}
