.inquiry {
  h3 {
    font-size: 20px;
  }

  &__section {
    margin-top: 40px;
    margin-bottom: 40px;

    &--no-padding-bottom {
      margin-bottom: 0;
    }

    &--no-padding-top {
      margin-top: 0;
    }
  }

  &__field {
  }

  &__label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: -5px;
  }
}
