@import '../../variables';

.tsvc-gear-search-form {
  position: relative;
  z-index: 10;

  h3 {
    margin-top: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__field-box {
    padding: 5px 0;
    width: 100%;

    .react-autosuggest__input {
      background: transparent;
    }

    &--submit {
      margin-top: 20px;

      button {
        width: 100%;

        @media all and (min-width: 576px) {
          width: auto;
        }
      }
    }
  }

  &__label {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;

    span {
      display: block;
      margin-bottom: 5px;
    }
  }

  ::placeholder {
    color: #000;
    font-size: 16px;
    font-family: 'Lato', 'sans-serif';
  }
}

.tsvc-gear-search__content {
  position: relative;
  z-index: 12;
}
