@import '../../variables';

.tsvc-msds-form {
  position: relative;
  z-index: 10;

  h3 {
    margin-top: 0;
  }

  .tsvc-onefield-form__field-error {
    color: #000;
  }
}

.tsvc-msds-form__content {
  position: relative;
  z-index: 12;
  margin-bottom: 60px;
}
