.tsvc-pdf-search-form {
  margin-top: 30px;

  .tsvc-onefield-form__field-error {
    color: #000;
  }

  .tsvc-files-list {
    margin-top: 30px;

    &__header {
      margin-bottom: 30px;
    }
  }
}
