@import '../../variables';

.tsvc-cmoiw-form-results {
  &__right-column-search {
    margin: 0 0 30px;

    .tsvc-cmoiw-form {
      article {
        h3 {
          @include heading3;
          margin-bottom: 10px;
          text-transform: uppercase;
        }
      }
    }
  }

  &__step {
    &-header {
      margin-bottom: 20px;

      h2 {
        @include heading3;
        text-transform: uppercase;
        margin: 0;
      }

      h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
      }
    }

    &-content {
    }

    &-footer {
      margin-top: 30px;

      h3 {
        margin-top: 0;
        font-size: 18px;
        font-weight: 600;
      }

      > div {
        display: flex;
        align-items: stretch;
        gap: 20px;

        .tsvc-link {
          .tsvc-button {
            height: 100%;
          }
        }

        @media all and (max-width: 767px) {
          flex-direction: column;

          .tsvc-link {
            width: 100%;
            height: 100%;

            .tsvc-button {
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }

      &--narrow {
        > div {
          @media all and (min-width: 992px) and (max-width: 1199px) {
            flex-direction: column;

            .tsvc-link {
              width: 100%;
              height: 100%;

              .tsvc-button {
                width: 100%;
                max-width: 100%;
              }
            }
          }
        }
      }
    }

    &--01,
    &--02 {
      .tsvc-cmoiw-form-results {
        &__content {
          &-list-header {
            background-color: $color-light-2;
            padding: 20px 30px;
          }

          @media all and (max-width: 991px) {
            margin-top: 30px;
          }

          h3 {
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
