.root {
  .intro {
    font-size: 20px;
  }

  .button {
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;

    &__icon {
      margin-left: 5px;
      font-size: 16px;
    }
  }

  .content {
    overflow: hidden;
  }
}
