<script setup lang="ts">
import { computed, ref } from "vue";
import { useRouter } from "vue-router";
import { isEmpty } from "lodash";
import { useCmoiwStore } from "@/stores/cmoiw";
import AppLoader from "@/components/AppLoader.vue";
import FileUpload from "@/components/FileUpload.vue";

const router = useRouter();
const cmoiwStore = useCmoiwStore();

const fileRef = ref<File | null>(null);
const fileUrl = ref<string>("");
const formRef = ref<HTMLFormElement | null>(null);
const valid = ref<boolean>(true);
const dirty = ref<boolean>(false);
const loading = ref<boolean>(false);
const saveEnabled = computed(() => valid.value !== false && dirty.value);

const requiredRule = (v?: string) => {
  if (typeof v === "object") return !isEmpty(v) || "Field is required";
  return !!v || "Field is required";
};

const handleFormChange = () => {
  dirty.value = true;
};

const handleFormSubmit = async () => {
  const validationResult = await formRef.value?.validate();
  if (!validationResult.valid || !fileRef.value) return;
  loading.value = true;
  try {
    await cmoiwStore.insertMany(fileRef.value);
    await router.push(`/cmoiw`);
    dirty.value = false;
  } catch (err: unknown) {
    console.log(err);
  } finally {
    loading.value = false;
  }
};

const handleFileUploadInput = (file: File) => {
  fileRef.value = file;
};

const handleFileUploadReset = () => {
  fileUrl.value = "";
  fileRef.value = null;
};
</script>

<template>
  <v-layout class="d-flex flex-column">
    <section class="text-center">
      <v-container fluid>
        <v-row class="justify-center">
          <v-col sm="10" md="8" class="position-relative">
            <h1 class="text-h5 font-weight-light mb-2 mt-4">
              Certyfikowane materiały odniesienia i wzorce
            </h1>
            <span class="font-weight-light subtitle-1">
              Insert many items at once
            </span>

            <v-tooltip text="Back">
              <template v-slot:activator="{ props }">
                <router-link
                  to="/cmoiw"
                  class="
                    position-absolute
                    back-button
                    text-decoration-none text-color-black
                  "
                >
                  <v-btn v-bind="props" color="primary" icon="mdi-arrow-left" />
                </router-link>
              </template>
            </v-tooltip>
          </v-col>
        </v-row>
      </v-container>
    </section>
    <section class="d-flex flex-fill overflow-hidden mb-4 mt-8 insert-many">
      <v-container fluid fill-height>
        <v-row class="justify-center">
          <v-col sm="10" md="8">
            <v-card>
              <v-form
                class="insert-many__form d-flex flex-column align-center mb-6"
                v-model="valid"
                @input="handleFormChange"
                ref="formRef"
              >
                <div class="w-50 mb-8">
                  <FileUpload
                    v-model="fileUrl"
                    :file="fileRef"
                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    :type="'file'"
                    @input="handleFileUploadInput"
                    @reset="handleFileUploadReset"
                  />
                </div>
                <div class="d-flex justify-center insert-many__footer">
                  <v-btn
                    variant="flat"
                    color="primary"
                    :disabled="!saveEnabled"
                    @click="handleFormSubmit"
                  >
                    Insert
                  </v-btn>
                </div>
              </v-form>
            </v-card>
          </v-col>
        </v-row>
      </v-container>

      <AppLoader v-if="loading" />
    </section>
  </v-layout>
</template>

<style lang="scss" scoped>
.insert-many {
}

.back-button {
  top: 24px;
  left: 0;
  z-index: 200;
}
</style>
