<script setup lang="ts">
import { computed, onMounted, ref } from "vue";
import { useRouter } from "vue-router";
import { storeToRefs } from "pinia";
import { useNotification } from "@kyvg/vue3-notification";
import { useCmoiwStore } from "@/stores/cmoiw";
import type { CmoiwItemType } from "@/stores/cmoiw";
import Search from "@/components/Search.vue";
import SelectedItems from "@/components/SelectedItems.vue";
import RemoveDialog from "@/components/RemoveDialog.vue";
import RemoveSelectedDialog from "@/components/RemoveSelectedDialog.vue";

const router = useRouter();
const cmoiwStore = useCmoiwStore();
const { items, meta, count, search } = storeToRefs(cmoiwStore);
const { notify } = useNotification();

const headers = ref([
  {
    title: "Number",
    align: "start",
    key: "number",
  },
  {
    title: "Material",
    align: "end",
    key: "material",
  },
  {
    title: "Description",
    align: "end",
    sortable: false,
    key: "description",
  },
  {
    title: "CAS",
    align: "end",
    key: "cas",
  },
  {
    title: "Manufacturer",
    align: "end",
    key: "manufacturer",
    sortable: false,
  },
  { title: "Actions", key: "actions", sortable: false, align: "end" },
  { title: "", key: "data-table-expand" },
]);
const loading = ref<boolean>(false);
const itemsSelected = ref<CmoiwItemType["_id"][]>([]);
const itemsExpanded = ref<CmoiwItemType["_id"][]>([]);
const itemToDelete = ref<CmoiwItemType | null>(null);
const removeDialogVisible = ref(false);
const removeSelectedDialogVisible = ref(false);
const selectedItemsVisible = computed(() => itemsSelected.value.length > 0);

const handlePaginationUpdate = async ({
  itemsPerPage,
}: {
  itemsPerPage: number;
}) => {
  const error = new Error("Too much items to load");

  if (itemsPerPage === -1) {
    notify({
      type: "error",
      title: "Error",
      text: error.toString(),
    });
    throw error;
  }
  loading.value = true;
  try {
    await cmoiwStore.getItems();
  } catch (err: unknown) {
    console.log(err);
  } finally {
    loading.value = false;
  }
};

const handleSearch = async () => {
  loading.value = true;
  try {
    await cmoiwStore.getItems();
  } catch (err: unknown) {
    console.log(err);
  } finally {
    loading.value = false;
  }
};

const handleRemoveItem = (item: CmoiwItemType) => {
  itemToDelete.value = item;
  removeDialogVisible.value = true;
};

const handleRemoveConfirm = async () => {
  if (!itemToDelete.value) return;
  loading.value = true;
  try {
    await cmoiwStore.removeItems([itemToDelete.value._id]);
    removeDialogVisible.value = false;
    itemToDelete.value = null;
    await cmoiwStore.getItems();
  } catch (err: unknown) {
    console.log(err);
  } finally {
    loading.value = false;
  }
};

const handleRemoveCancel = () => {
  removeDialogVisible.value = false;
  itemToDelete.value = null;
};

const handleSelectedRemoveClick = (id: string) => {
  itemsSelected.value = itemsSelected.value.filter((item) => item !== id);
};

const handleSelectedItemsRemoveSelected = () => {
  removeSelectedDialogVisible.value = true;
};

const handleRemoveSelectedConfirm = async () => {
  if (itemsSelected.value.length === 0) return;
  loading.value = true;
  try {
    await cmoiwStore.removeItems(itemsSelected.value);
    removeSelectedDialogVisible.value = false;
    itemsSelected.value = [];
    await cmoiwStore.getItems();
  } catch (err: unknown) {
    console.log(err);
  } finally {
    loading.value = false;
  }
};

const handleRemoveSelectedCancel = () => {
  removeSelectedDialogVisible.value = false;
};

onMounted(() => {
  const preserve = Object.keys(router.currentRoute.value.query).includes(
    "preserve"
  );
  if (preserve) return;
  cmoiwStore.$reset();
});
</script>

<template>
  <v-layout class="d-flex flex-column">
    <section class="text-center">
      <h1 class="text-h5 font-weight-light mb-2 mt-4">
        Certyfikowane materiały odniesienia i wzorce
      </h1>
      <span class="font-weight-light subtitle-1">
        create / edit / update / delete
      </span>

      <v-tooltip text="Create new">
        <template v-slot:activator="{ props }">
          <router-link
            to="/cmoiw/create"
            class="
              position-fixed
              create-button
              text-decoration-none text-color-black
            "
          >
            <v-btn
              v-bind="props"
              color="primary"
              icon="mdi-plus"
              size="small"
            />
          </router-link>
        </template>
      </v-tooltip>

      <v-tooltip text="Insert many">
        <template v-slot:activator="{ props }">
          <router-link
            to="/cmoiw/insert-many"
            class="
              position-fixed
              insert-many-button
              text-decoration-none text-color-black
            "
          >
            <v-btn
              v-bind="props"
              color="green"
              icon="mdi-database-import-outline"
              size="small"
            />
          </router-link>
        </template>
      </v-tooltip>

      <Search v-model="meta.search" :loading="loading" @search="handleSearch" />
    </section>

    <SelectedItems
      v-if="selectedItemsVisible"
      :items="itemsSelected"
      @item-remove="handleSelectedRemoveClick"
      @remove-selected="handleSelectedItemsRemoveSelected"
    />

    <section class="d-flex flex-fill overflow-hidden mb-4">
      <v-data-table-server
        v-model="itemsSelected"
        v-model:expanded="itemsExpanded"
        v-model:items-per-page="meta.itemsPerPage"
        v-model:sort-by="meta.sortBy"
        v-model:page="meta.page"
        :headers="headers"
        :items-length="count"
        :items="items"
        :loading="loading"
        item-value="_id"
        class="elevation-1 data-table"
        @update:options="handlePaginationUpdate"
        fixed-header
        fixed-footer
        show-select
        show-expand
        density="compact"
        height="calc(65vh)"
      >
        <template v-slot:[`item.actions`]="{ item }">
          <div class="actions d-flex justify-end">
            <router-link
              :to="`/cmoiw/${item.value}`"
              class="text-decoration-none text-black"
            >
              <v-btn variant="plain" size="small" icon="mdi-pencil" />
              <v-tooltip activator="parent">Edit item</v-tooltip>
            </router-link>
            <v-tooltip text="Delete item">
              <template v-slot:activator="{ props }">
                <v-btn
                  variant="plain"
                  icon="mdi-delete"
                  v-bind="props"
                  size="small"
                  @click="handleRemoveItem(item.raw)"
                >
                </v-btn>
              </template>
            </v-tooltip>
          </div>
        </template>
        <template v-slot:[`expanded-row`]="{ columns, item }">
          <tr>
            <td :colspan="columns.length">
              <p class="text-body-2 py-6">{{ item.raw.extra_info }}</p>
            </td>
          </tr>
        </template>
      </v-data-table-server>
    </section>

    <RemoveDialog
      v-if="removeDialogVisible"
      :visible="removeDialogVisible"
      :selected-item="itemToDelete?.number ?? null"
      @confirm="handleRemoveConfirm"
      @cancel="handleRemoveCancel"
    />

    <RemoveSelectedDialog
      v-if="removeSelectedDialogVisible"
      :visible="removeSelectedDialogVisible"
      :selected-items="itemsSelected"
      @confirm="handleRemoveSelectedConfirm"
      @cancel="handleRemoveSelectedCancel"
    />
  </v-layout>
</template>

<style lang="scss" scoped>
.create-button {
  z-index: 90001;
  top: 100px;
  right: 24px;
}

.insert-many-button {
  z-index: 90001;
  top: 150px;
  right: 24px;
}

.actions {
  display: flex;
}

:deep .data-table {
  .v-data-table__thead {
    th {
      top: 0 !important;
    }
  }
  .v-data-table-header__content {
    font-size: 16px;
  }
  .v-data-table__td {
    font-size: 14px;
  }
  .v-data-table-footer {
    padding: 6px 0;
  }
}
</style>
