<script setup lang="ts">
import { computed, onMounted, ref, watch } from "vue";
import { useRouter } from "vue-router";
import { storeToRefs } from "pinia";
import { useCmoiwStore } from "@/stores/cmoiw";
import AppLoader from "@/components/AppLoader.vue";

const router = useRouter();
const cmoiwStore = useCmoiwStore();
const { selectedItem } = storeToRefs(cmoiwStore);

const isUpdate = !!router.currentRoute.value.params.id;
const formRef = ref<HTMLFormElement | null>(null);
const valid = ref<boolean>(true);
const dirty = ref<boolean>(false);
const loading = ref<boolean>(false);
const saveEnabled = computed(() => valid.value !== false && dirty.value);
const requiredRule = (v?: string) => !!v || "Field is required";

const collectionLabel = computed(() => {
  return isUpdate ? `edit ${selectedItem.value?._id}` : "create new item";
});

const handleFormChange = () => {
  dirty.value = true;
};

const handleFormSubmit = async () => {
  const validationResult = await formRef.value?.validate();
  if (!validationResult.valid || !selectedItem.value) return;
  loading.value = true;
  try {
    if (selectedItem.value._id) {
      await cmoiwStore.updateItem(selectedItem.value);
    } else {
      await cmoiwStore.createItem(selectedItem.value);
    }
    await router.push(`/cmoiw?preserve`);
    dirty.value = false;
  } catch (err: unknown) {
    console.log(err);
  } finally {
    loading.value = false;
  }
};

onMounted(async () => {
  if (!isUpdate) return;
  loading.value = true;
  let { id } = router.currentRoute.value.params;
  id = Array.isArray(id) ? id[0] : id;
  try {
    await cmoiwStore.getItem(id);
  } catch (err: unknown) {
    console.log(err);
  } finally {
    loading.value = false;
  }
});
</script>

<template>
  <v-layout class="d-flex flex-column">
    <section class="text-center">
      <v-container fluid>
        <v-row class="justify-center">
          <v-col sm="10" md="8" class="position-relative">
            <h1 class="text-h5 font-weight-light mb-2 mt-4">
              Certyfikowane materiały odniesienia i wzorce
            </h1>
            <span class="font-weight-light subtitle-1">
              {{ collectionLabel }}
            </span>

            <v-tooltip text="Back">
              <template v-slot:activator="{ props }">
                <router-link
                  to="/cmoiw?preserve"
                  class="
                    position-absolute
                    back-button
                    text-decoration-none text-color-black
                  "
                >
                  <v-btn v-bind="props" color="primary" icon="mdi-arrow-left" />
                </router-link>
              </template>
            </v-tooltip>
          </v-col>
        </v-row>
      </v-container>
    </section>
    <section class="d-flex flex-fill overflow-hidden mb-4 mt-8 edit-item">
      <v-container fluid fill-height>
        <v-row class="justify-center">
          <v-col sm="10" md="8">
            <v-form
              class="edit-item__form"
              v-model="valid"
              @input="handleFormChange"
              ref="formRef"
            >
              <ul class="d-flex flex-column edit-item__list">
                <li v-if="selectedItem?._id" class="edit-item__prop mb-0">
                  <div class="edit-item__prop-input">
                    <v-text-field
                      disabled
                      variant="underlined"
                      density="compact"
                      v-model="selectedItem._id"
                      label="_id"
                      required
                    />
                  </div>
                </li>
                <li class="edit-item__prop">
                  <div class="edit-item__prop-input">
                    <v-text-field
                      label="Number"
                      variant="underlined"
                      density="compact"
                      v-model="selectedItem.number"
                      required
                      :rules="[requiredRule]"
                    />
                  </div>
                </li>
                <li class="edit-item__prop">
                  <div class="edit-item__prop-input">
                    <v-text-field
                      label="material"
                      variant="underlined"
                      density="compact"
                      v-model="selectedItem.material"
                      required
                      :rules="[requiredRule]"
                    />
                  </div>
                </li>
                <li class="edit-item__prop">
                  <div class="edit-item__prop-input">
                    <v-textarea
                      label="Description"
                      variant="underlined"
                      density="compact"
                      v-model="selectedItem.description"
                    />
                  </div>
                </li>
                <li class="edit-item__prop">
                  <div class="edit-item__prop-input">
                    <v-text-field
                      label="CAS"
                      variant="underlined"
                      density="compact"
                      v-model="selectedItem.cas"
                      required
                      :rules="[requiredRule]"
                    />
                  </div>
                </li>
                <li class="edit-item__prop">
                  <div class="edit-item__prop-input">
                    <v-text-field
                      label="Manufacturer"
                      variant="underlined"
                      density="compact"
                      v-model="selectedItem.manufacturer"
                    />
                  </div>
                </li>
                <li class="edit-item__prop">
                  <div class="edit-item__prop-input">
                    <v-textarea
                      label="Extra info"
                      variant="underlined"
                      density="compact"
                      v-model="selectedItem.extra_info"
                    />
                  </div>
                </li>
              </ul>
              <div class="d-flex justify-center edit-item__footer">
                <v-btn
                  variant="flat"
                  color="primary"
                  :disabled="!saveEnabled"
                  @click="handleFormSubmit"
                >
                  {{ isUpdate ? "Update" : "Create" }}
                </v-btn>
              </div>
            </v-form>
          </v-col>
        </v-row>
      </v-container>

      <AppLoader v-if="loading" />
    </section>
  </v-layout>
</template>

<style lang="scss" scoped>
.edit-item {
  &__form {
    flex: 1;
  }

  &__list {
    list-style: none;
  }
}

.back-button {
  top: 24px;
  left: 0;
  z-index: 200;
}
</style>
