<script setup lang="ts">
import { computed, onMounted, ref } from "vue";
import { useRouter } from "vue-router";
import { isEmpty } from "lodash";
import { storeToRefs } from "pinia";
import { useGearStore } from "@/stores/gear";
import AppLoader from "@/components/AppLoader.vue";
import FileUpload from "@/components/FileUpload.vue";
import ComboBoxPaste from "@/components/ComboBoxPaste.vue";

const router = useRouter();
const gearStore = useGearStore();
const { selectedItem, imageRef, pdfRef } = storeToRefs(gearStore);

const isUpdate = !!router.currentRoute.value.params.id;
const formRef = ref<HTMLFormElement | null>(null);
const valid = ref<boolean>(true);
const dirty = ref<boolean>(false);
const loading = ref<boolean>(false);
const saveEnabled = computed(() => valid.value !== false && dirty.value);
const search = ref<string>("");

const collectionLabel = computed(() => {
  return isUpdate ? `edit ${selectedItem.value?._id}` : "create new item";
});

const requiredRule = (v?: string) => {
  if (typeof v === "object") return !isEmpty(v) || "Field is required";
  return !!v || "Field is required";
};

const handleFormChange = () => {
  dirty.value = true;
};

const handleFormSubmit = async () => {
  const validationResult = await formRef.value?.validate();
  if (!validationResult.valid || !selectedItem.value) return;
  loading.value = true;
  try {
    if (selectedItem.value._id) {
      await gearStore.updateItem(selectedItem.value);
    } else {
      await gearStore.createItem(selectedItem.value);
    }
    await router.push(`/gear?preserve`);
    dirty.value = false;
  } catch (err: unknown) {
    console.log(err);
  } finally {
    loading.value = false;
  }
};

const handleImageUploadInput = (file: File) => {
  imageRef.value = file;
};

const handleImageUploadReset = () => {
  imageRef.value = null;
  selectedItem.value.image = "";
};

onMounted(async () => {
  if (!isUpdate) return;
  loading.value = true;
  let { id } = router.currentRoute.value.params;
  id = Array.isArray(id) ? id[0] : id;
  try {
    await gearStore.getItem(id);
  } catch (err: unknown) {
    console.log(err);
  } finally {
    loading.value = false;
  }
});


</script>

<template>
  <v-layout class="d-flex flex-column">
    <section class="text-center">
      <v-container fluid>
        <v-row class="justify-center">
          <v-col sm="10" md="8" class="position-relative">
            <h1 class="text-h5 font-weight-light mb-2 mt-4">
              Aparatura laboratoryjna
            </h1>
            <span class="font-weight-light subtitle-1">
              {{ collectionLabel }}
            </span>

            <v-tooltip text="Back">
              <template v-slot:activator="{ props }">
                <router-link
                  to="/gear?preserve"
                  class="
                    position-absolute
                    back-button
                    text-decoration-none text-color-black
                  "
                >
                  <v-btn v-bind="props" color="primary" icon="mdi-arrow-left" />
                </router-link>
              </template>
            </v-tooltip>
          </v-col>
        </v-row>
      </v-container>
    </section>
    <section class="d-flex flex-fill overflow-hidden mb-4 mt-8 edit-item">
      <v-container fluid fill-height>
        <v-row class="justify-center">
          <v-col sm="10" md="8">
            <v-form
              class="edit-item__form"
              v-model="valid"
              @input="handleFormChange"
              ref="formRef"
            >
              <ul class="d-flex flex-column edit-item__list">
                <li class="edit-item__prop">
                  <div class="d-flex">
                    <div class="edit-item__prop-input-image mr-8">
                      <FileUpload
                        v-model="selectedItem.image"
                        accept="image/*"
                        :type="'image'"
                        hint="1024x768 .png"
                        @input="handleImageUploadInput"
                        @reset="handleImageUploadReset"
                      />
                    </div>
                    <div class="flex-grow-1">
                      <div class="edit-item__prop edit-item__prop--id mb-0">
                        <v-text-field
                          v-if="selectedItem?._id"
                          disabled
                          variant="underlined"
                          density="compact"
                          v-model="selectedItem._id"
                          label="_id"
                          required
                        />
                      </div>
                      <div class="edit-item__prop">
                        <v-text-field
                          label="Name"
                          variant="underlined"
                          density="compact"
                          v-model="selectedItem.name"
                          required
                          :rules="[requiredRule]"
                        />
                      </div>
                      <div class="edit-item__prop">
                        <v-textarea
                          label="Description"
                          variant="underlined"
                          density="compact"
                          v-model="selectedItem.description"
                        />
                      </div>
                    </div>
                  </div>
                </li>
                <li class="edit-item__prop">
                  <div class="edit-item__prop-input">
                    <ComboBoxPaste v-model="selectedItem.norm" label="Norm" />
                  </div>
                </li>
                <li class="edit-item__prop">
                  <div class="edit-item__prop-input">
                    <ComboBoxPaste
                      v-model="selectedItem.method"
                      label="Method"
                    />
                  </div>
                </li>
                <li class="edit-item__prop">
                  <div class="edit-item__prop-input">
                    <v-text-field
                      label="Manufacturer"
                      variant="underlined"
                      density="compact"
                      v-model="selectedItem.manufacturer"
                      required
                      :rules="[requiredRule]"
                    />
                  </div>
                </li>
                <li class="edit-item__prop">
                  <div class="edit-item__prop-input">
                    <ComboBoxPaste
                      v-model="selectedItem.category"
                      label="Category"
                    />
                  </div>
                </li>
                <li class="edit-item__prop">
                  <div class="edit-item__prop-input">
                    <v-text-field
                      label="Catalog"
                      variant="underlined"
                      density="compact"
                      v-model="selectedItem.catalogs"
                    />
                  </div>
                </li>
                <li class="edit-item__prop">
                  <div class="edit-item__prop-input">
                    <v-text-field
                      label="Video"
                      variant="underlined"
                      density="compact"
                      v-model="selectedItem.video"
                    />
                  </div>
                </li>
                <li class="edit-item__prop">
                  <div class="edit-item__prop-input">
                    <v-file-input
                      label="PDF"
                      accept="application/pdf"
                      variant="underlined"
                      density="compact"
                      v-model="pdfRef"
                      @update:modelValue="handleFormChange"
                    />
                  </div>
                </li>
                <li class="edit-item__prop">
                  <div class="edit-item__prop-input">
                    <v-text-field
                      label="URL"
                      variant="underlined"
                      density="compact"
                      v-model="selectedItem.url"
                    />
                  </div>
                </li>
              </ul>
              <div class="d-flex justify-center edit-item__footer">
                <v-btn
                  variant="flat"
                  color="primary"
                  :disabled="!saveEnabled"
                  @click="handleFormSubmit"
                >
                  {{ isUpdate ? "Update" : "Create" }}
                </v-btn>
              </div>
            </v-form>
          </v-col>
        </v-row>
      </v-container>

      <AppLoader v-if="loading" />
    </section>
  </v-layout>
</template>

<style lang="scss" scoped>
.edit-item {
  &__form {
    flex: 1;
  }

  &__list {
    list-style: none;
  }

  &__prop {
    margin-bottom: 12px;

    &-input {
      &--image {
        align-items: center;
        display: flex;
      }

      &-image {
        width: 240px;
      }
    }

    &--id {
      :deep .v-input__details {
        display: none;
      }
    }
  }
}

.back-button {
  top: 24px;
  left: 0;
  z-index: 200;
}
</style>
