<script setup lang="ts">
import { computed, onMounted, ref } from "vue";
import { useRouter } from "vue-router";
import { storeToRefs } from "pinia";
import type { GearItemType } from "@/stores/gear";
import Search from "@/components/Search.vue";
import SelectedItems from "@/components/SelectedItems.vue";
import RemoveDialog from "@/components/RemoveDialog.vue";
import RemoveSelectedDialog from "@/components/RemoveSelectedDialog.vue";
import { useGearStore } from "@/stores/gear";

const router = useRouter();
const gearStore = useGearStore();
const { items, meta, count, search } = storeToRefs(gearStore);

const headers = ref([
  {
    title: "Name",
    align: "start",
    key: "name",
  },
  {
    title: "Manufacturer",
    align: "end",
    key: "manufacturer",
  },
  {
    title: "Image",
    align: "end",
    sortable: false,
    key: "image",
  },
  { title: "Actions", key: "actions", sortable: false, align: "end" },
  { title: "", key: "data-table-expand" },
]);
const loading = ref<boolean>(false);
const itemsSelected = ref<GearItemType["_id"][]>([]);
const itemsExpanded = ref<GearItemType["_id"][]>([]);
const itemToDelete = ref<GearItemType | null>(null);
const removeDialogVisible = ref(false);
const removeSelectedDialogVisible = ref(false);
const selectedItemsVisible = computed(() => itemsSelected.value.length > 0);

const handlePaginationUpdate = async () => {
  loading.value = true;
  try {
    await gearStore.getItems();
  } catch (err: unknown) {
    console.log(err);
  } finally {
    loading.value = false;
  }
};

const handleSearch = async () => {
  loading.value = true;
  try {
    await gearStore.getItems();
  } catch (err: unknown) {
    console.log(err);
  } finally {
    loading.value = false;
  }
};

const handleRemoveItem = (item: GearItemType) => {
  itemToDelete.value = item;
  removeDialogVisible.value = true;
};

const handleRemoveConfirm = async () => {
  if (!itemToDelete.value) return;
  loading.value = true;
  try {
    await gearStore.removeItems([itemToDelete.value._id]);
    removeDialogVisible.value = false;
    itemToDelete.value = null;
    await gearStore.getItems();
  } catch (err: unknown) {
    console.log(err);
  } finally {
    loading.value = false;
  }
};

const handleRemoveCancel = () => {
  removeDialogVisible.value = false;
  itemToDelete.value = null;
};

const handleSelectedRemoveClick = (id: string) => {
  itemsSelected.value = itemsSelected.value.filter((item) => item !== id);
};

const handleSelectedItemsRemoveSelected = () => {
  removeSelectedDialogVisible.value = true;
};

const handleRemoveSelectedConfirm = async () => {
  if (itemsSelected.value.length === 0) return;
  loading.value = true;
  try {
    await gearStore.removeItems(itemsSelected.value);
    removeSelectedDialogVisible.value = false;
    itemsSelected.value = [];
    await gearStore.getItems();
  } catch (err: unknown) {
    console.log(err);
  } finally {
    loading.value = false;
  }
};

const handleRemoveSelectedCancel = () => {
  removeSelectedDialogVisible.value = false;
};

onMounted(() => {
  const preserve = Object.keys(router.currentRoute.value.query).includes(
    "preserve"
  );
  if (preserve) return;
  gearStore.$reset();
});
</script>

<template>
  <v-layout class="d-flex flex-column">
    <section class="text-center">
      <h1 class="text-h5 font-weight-light mb-2 mt-4">
        Aparatura laboratoryjna
      </h1>
      <span class="font-weight-light subtitle-1">
        create / edit / update / delete
      </span>

      <v-tooltip text="Create new">
        <template v-slot:activator="{ props }">
          <router-link
            to="/gear/create"
            class="
              position-fixed
              create-button
              text-decoration-none text-color-black
            "
          >
            <v-btn v-bind="props" color="primary" icon="mdi-plus" />
          </router-link>
        </template>
      </v-tooltip>

      <Search v-model="meta.search" :loading="loading" @search="handleSearch" />
    </section>

    <SelectedItems
      v-if="selectedItemsVisible"
      :items="itemsSelected"
      @item-remove="handleSelectedRemoveClick"
      @remove-selected="handleSelectedItemsRemoveSelected"
    />

    <section class="d-flex flex-fill overflow-hidden mb-4">
      <v-data-table-server
        v-model="itemsSelected"
        v-model:expanded="itemsExpanded"
        v-model:items-per-page="meta.itemsPerPage"
        v-model:sort-by="meta.sortBy"
        v-model:page="meta.page"
        :headers="headers"
        :items-length="count"
        :items="items"
        :loading="loading"
        item-value="_id"
        class="elevation-1 data-table"
        @update:options="handlePaginationUpdate"
        fixed-header
        fixed-footer
        show-select
        show-expand
        density="compact"
        height="calc(65vh)"
      >
        <template v-slot:[`item.image`]="{ item }">
          <v-img
            v-if="item.raw.image"
            :src="item.raw.image"
            :alt="item.raw.name"
            aspect-ratio="1"
            width="80px"
            class="my-2 d-block table-image"
          />
        </template>

        <template v-slot:[`item.actions`]="{ item }">
          <div class="actions d-flex justify-end">
            <router-link
              :to="`/gear/${item.value}`"
              class="text-decoration-none text-black"
            >
              <v-btn variant="plain" size="small" icon="mdi-pencil" />
              <v-tooltip activator="parent">Edit item</v-tooltip>
            </router-link>
            <v-tooltip text="Delete item">
              <template v-slot:activator="{ props }">
                <v-btn
                  variant="plain"
                  icon="mdi-delete"
                  v-bind="props"
                  size="small"
                  @click="handleRemoveItem(item.raw)"
                >
                </v-btn>
              </template>
            </v-tooltip>
          </div>
        </template>
        <template v-slot:[`item.name`]="{ item }">
          <div v-html="item.raw.name" />
        </template>

        <template v-slot:[`expanded-row`]="{ columns, item }">
          <tr>
            <td :colspan="columns.length">
              <div class="d-flex justify-space-between px-1 py-4">
                <div class="description">
                  <span class="text-subtitle-2 font-weight-bold">
                    Description:
                  </span>
                  <div
                    v-html="item.raw.description"
                    class="text-body-2 description__text"
                  />
                </div>
                <div class="details-list">
                  <span class="text-subtitle-2 font-weight-bold">Norms:</span>
                  <ul class="details-list__list ml-4">
                    <li
                      v-for="norm in item.raw.norm"
                      :key="norm"
                      class="details-list__list-item text-body-2"
                    >
                      {{ norm }}
                    </li>
                  </ul>
                </div>
                <div class="details-list">
                  <span class="text-subtitle-2 font-weight-bold">Methods:</span>
                  <ul class="details-list__list ml-4">
                    <li
                      v-for="method in item.raw.method"
                      :key="method"
                      class="details-list__list-item text-body-2"
                    >
                      {{ method }}
                    </li>
                  </ul>
                </div>
                <div>
                  <span class="text-subtitle-2 font-weight-bold"
                    >Categories:</span
                  >
                  <ul class="details-list__list ml-4">
                    <li
                      v-for="category in item.raw.category"
                      :key="category"
                      class="details-list__list-item text-body-2"
                    >
                      {{ category }}
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </template>
      </v-data-table-server>
    </section>

    <RemoveDialog
      v-if="removeDialogVisible"
      :visible="removeDialogVisible"
      :selected-item="itemToDelete?.name ?? null"
      @confirm="handleRemoveConfirm"
      @cancel="handleRemoveCancel"
    />

    <RemoveSelectedDialog
      v-if="removeSelectedDialogVisible"
      :visible="removeSelectedDialogVisible"
      :selected-items="itemsSelected"
      @confirm="handleRemoveSelectedConfirm"
      @cancel="handleRemoveSelectedCancel"
    />
  </v-layout>
</template>

<style lang="scss" scoped>
.create-button {
  z-index: 90001;
  top: 100px;
  right: 24px;
}

.actions {
  display: flex;
}

.description {
  max-width: 50%;

  &__text {
    font-size: 14px;
  }
}

.table-image {
  overflow: hidden;

  img {
    max-height: 100%;
  }
}

.details-list {
  &__list {
    list-style: disc;
    font-size: 13px;

    &-item {
    }
  }
}

.data-table {
  width: 100%;
}

:deep .data-table {
  table {
    width: 100%;
  }

  .v-data-table__thead {
    th {
      top: 0 !important;
    }
  }
  .v-data-table-header__content {
    font-size: 16px;
  }
  .v-data-table__td {
    font-size: 14px;
  }
  .v-data-table-footer {
    padding: 6px 0;
    font-size: 14px;

    .v-field__input {
      font-size: 14px;
    }
  }
}
</style>
