<script lang="ts" setup>
import { useAuthStore } from "@/stores/auth";
import type { UserCredentialsType } from "@/stores/auth";
import { storeToRefs } from "pinia";
import LoginForm from "@/components/LoginForm.vue";
import { useRouter } from "vue-router";
import { onMounted, ref } from "vue";

const router = useRouter();
const authStore = useAuthStore();
const { user, loggedIn } = storeToRefs(authStore);
const loading = ref(false);

onMounted(async () => {
  if (authStore.loggedIn) await router.push("/");
});

const handleLogin = async ({ username, password }: UserCredentialsType) => {
  loading.value = true;
  await authStore.login({ username, password });
  await router.push("/");
  loading.value = false;
};
const handleLogout = async () => {
  await authStore.logout();
};
</script>

<template>
  <v-layout>
    <v-container fill-height fluid>
      <v-row align="center" justify="center" class="login-wrapper">
        <v-col xs="8" sm="6" md="4" lg="3">
          <v-row justify="center" class="login-content">
            <v-col cols="12">
              <LoginForm
                :logged-in="loggedIn"
                :loading="loading"
                @login="handleLogin"
                @logout="handleLogout"
              />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<style lang="scss" scoped>
.logo {
  display: block;
  margin: 20px auto;
  width: 200px;
}

.login {
  &-wrapper {
    height: 100%;
  }

  &-content {
    text-align: center;
  }
}
</style>
