<script setup lang="ts">
import type { VCombobox } from "vuetify/components";

const props = withDefaults(
  defineProps<{
    modelValue?: string[];
    label?: string;
    variant?: VCombobox["variant"];
    density?: VCombobox["density"];
    delimiters?: VCombobox["delimiters"];
  }>(),
  {
    modelValue: () => [],
    label: "",
    variant: "underlined",
    density: "compact",
    delimiters: () => [","],
  }
);

const emit = defineEmits<{
  (e: "update:modelValue", items: string[]): void;
}>();

const handlePaste = (e: ClipboardEvent) => {
  e.preventDefault();
  const pasteData = e.clipboardData?.getData("Text");
  const pasteItems =
    pasteData
      ?.split(props.delimiters[0])
      .filter(Boolean)
      .map((item) => item.trim()) ?? [];
  emit("update:modelValue", [...(props.modelValue ?? []), ...pasteItems]);
};

const handleModelChange = (value: unknown) => {
  emit("update:modelValue", value as string[]);
};
</script>

<template>
  <v-combobox
    :label="props.label"
    :variant="props.variant"
    :delimiters="props.delimiters"
    :density="props.density"
    multiple
    chips
    :model-value="modelValue"
    @paste="handlePaste"
    @update:modelValue="handleModelChange"
  />
</template>

<style lang="scss" scoped>
:deep .v-combobox__selection {
  padding: 0 3px !important;

  &--selected {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      background-color: black;
      position: absolute;
      right: -1px;
      height: 18px;
      width: 1px;
      top: 2px;
      transition: none;
      animation: blink 1s steps(2) infinite;
    }
  }
}

@keyframes blink {
  0% {
    visibility: hidden;
  }
}
</style>
