<script setup lang="ts">
import { computed, ref } from "vue";
import { formatBytes } from "@/utils";

const props = withDefaults(
  defineProps<{
    modelValue: string;
    file?: File | null;
    accept: string;
    label?: string;
    type: "file" | "image";
    hint?: string;
  }>(),
  {
    label: "Upload",
  }
);

const imageType = computed(() => props.type === "image");
const fileType = computed(() => props.type === "file");

const emits = defineEmits<{
  (e: "reset"): void;
  (e: "input", file: File): void;
  (e: "update:modelValue", value: string): void;
}>();

const fileInputHandle = ref<null | HTMLFormElement>();

const handleRemoveClick = () => {
  emits("reset");
};

const handleSelectClick = () => {
  fileInputHandle.value?.click();
};

const handleFileInput = (target: any) => {
  if (!target || !target.files) return;
  const file = target.files?.[0];
  emits("input", file);
  emits("update:modelValue", URL.createObjectURL(file));
};
</script>

<template>
  <div class="file-upload">
    <label class="file-upload__label" for="file-upload-input">
      <div class="d-flex direction-col flex-column">
        <div v-if="imageType" class="file-upload__image px-2 py-2 border-b-1">
          <img
            v-if="modelValue"
            :src="modelValue"
            alt="value"
            class="file-upload__image-img"
          />
          <v-icon
            v-else
            icon="mdi-camera"
            size="large"
            class="file-upload__icon my-4 mx-auto"
          />
        </div>
        <div
          v-else-if="fileType"
          class="file-upload__image px-2 py-2 border-b-1"
        >
          <v-icon
            v-if="!modelValue"
            color="secondary"
            icon="mdi-import"
            size="x-large"
            class="file-upload__icon my-4 mx-auto"
          />
          <v-icon
            v-else
            color="secondary"
            icon="mdi-file"
            size="x-large"
            class="file-upload__icon my-4 mx-auto"
          />
          <p class="h5 text-center" v-if="file">
            Name: {{ file.name }}, {{ formatBytes(file.size) }}
          </p>
        </div>
        <div v-if="hint && !modelValue" class="file-upload__hint">
          <p>{{ hint }}</p>
        </div>
        <div class="file-upload__buttons d-flex justify-center">
          <v-btn
            color="error"
            variant="flat"
            @click="handleRemoveClick"
            class="mx-2"
          >
            Remove
          </v-btn>
          <v-btn
            color="primary"
            variant="flat"
            @click="handleSelectClick"
            class="mx-2"
          >
            {{ props.label }}
          </v-btn>
        </div>
      </div>
    </label>
    <input
      type="file"
      id="file-upload-input"
      class="file-upload__input"
      ref="fileInputHandle"
      :accept="props.accept"
      @input="handleFileInput($event.target)"
    />
  </div>
</template>

<style scoped lang="scss">
.file-upload {
  width: 100%;

  &__image {
    width: 100%;

    &-img {
      display: block;
      width: 100%;
    }
  }

  &__icon {
    display: block;
    font-size: 60px;
  }

  &__label {
    display: block;
  }

  &__input {
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  &__hint {
    text-align: center;
    font-size: 13px;
    margin: 8px 0;
  }
}
</style>
