<script setup lang="ts">
import { ref } from "vue";

const props = defineProps<{
  loggedIn: boolean;
  loading: boolean;
}>();

const username = ref("");
const password = ref("");
</script>

<template>
  <div class="login-form">
    <img alt="Tusnovics logo" class="logo" src="@/assets/logo.png" />
    <h1 class="green">Welcome!</h1>
    <h4>You can log in to manage resources for Tusnovics</h4>

    <v-row justify="center">
      <v-col md="12" xl="8">
        <div>
          <v-text-field
            label="Username"
            v-model="username"
            class="login-form__input"
            variant="underlined"
          />
        </div>
        <div>
          <v-text-field
            label="Password"
            type="password"
            v-model="password"
            class="login-form__input"
            variant="underlined"
          />
        </div>
      </v-col>
    </v-row>

    <v-btn
      v-if="!props.loggedIn"
      :loading="loading"
      color="primary"
      variant="flat"
      @click="$emit('login', { username, password })"
    >
      LOGIN
    </v-btn>
  </div>
</template>

<style lang="scss" scoped>
h4 {
  margin: 20px 0;
}
.login-form {
  &__input {
    max-width: 400px;
    margin: 0 auto;
  }
}
</style>
