<script setup lang="ts">
import type { CmoiwItemType } from "@/stores/cmoiw";
import type { GearItemType } from "@/stores/gear";

const props = defineProps<{
  visible: boolean;
  selectedItem: CmoiwItemType["_id"] | GearItemType["name"] | null;
}>();

const emit = defineEmits<{
  (e: "confirm"): void;
  (e: "cancel"): void;
}>();

const handleDeleteConfirm = (item: string) => {
  emit("confirm");
};

const handleDeleteCancel = () => {
  emit("cancel");
};
</script>

<template>
  <v-dialog :model-value="props.visible" class="remove-dialog">
    <v-card>
      <v-card-text>
        <p class="text-h6 text-center mb-4">
          Are you sure you want to delete item <span v-html="selectedItem" />?
        </p>
      </v-card-text>
      <v-card-actions class="justify-center mb-4">
        <v-btn color="primary" variant="flat" @click="handleDeleteConfirm">
          Confirm
        </v-btn>
        <v-btn color="error" variant="flat" @click="handleDeleteCancel">
          Cancel
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped lang="scss">
.remove-dialog {
  max-width: 60vw;

  &__item-details {
    list-style: none;

    &-label {
      display: inline-block;
      width: 160px;
      flex-shrink: 0;
    }

    li {
      display: flex;
    }
  }
}
</style>
