<script setup lang="ts">
import type { CmoiwItemType } from "@/stores/cmoiw";

const props = defineProps<{
  visible: boolean;
  selectedItems: CmoiwItemType["_id"][];
}>();

const emit = defineEmits<{
  (e: "confirm"): void;
  (e: "cancel"): void;
}>();

const handleDeleteConfirm = (item: string) => {
  emit("confirm");
};

const handleDeleteCancel = () => {
  emit("cancel");
};
</script>

<template>
  <v-dialog :model-value="props.visible" class="remove-selected-dialog">
    <v-card>
      <v-card-text>
        <p class="text-h6 text-center mb-4">
          Are you sure you want to delete selected items?
        </p>
      </v-card-text>
      <v-card-actions class="justify-center mb-4">
        <v-btn color="primary" variant="flat" @click="handleDeleteConfirm">
          Confirm
        </v-btn>
        <v-btn color="error" variant="flat" @click="handleDeleteCancel">
          Cancel
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped lang="scss">
.remove-selected-dialog {
  max-width: 60vw;
}
</style>
