<script setup lang="ts">
const props = defineProps<{
  loading: boolean;
  modelValue: string;
}>();

const emit = defineEmits<{
  (e: "search", value: string): void;
  (e: "update:modelValue", value: string): void;
}>();

let searchTimeout: NodeJS.Timeout | null = null;
const handleSearch = (value: string) => {
  emit("update:modelValue", value);
  if (searchTimeout) clearTimeout(searchTimeout);
  searchTimeout = setTimeout(() => {
    emit("search", value);
  }, 400);
};
</script>

<template>
  <section class="search pl-16 pr-16">
    <v-text-field
      type="text"
      :value="modelValue"
      placeholder="Search"
      @input="handleSearch($event.target.value)"
      :disabled="loading"
      variant="underlined"
      density="compact"
    />
  </section>
</template>

<style scoped lang="scss"></style>
