<script setup lang="ts">
const props = defineProps<{
  items: string[];
}>();

const emit = defineEmits<{
  (e: "item-remove", item: string): void;
  (e: "remove-selected"): void;
}>();

const handleSelectedRemoveClick = (item: string) => {
  emit("item-remove", item);
};

const handleDeleteSelected = () => {
  emit("remove-selected");
};
</script>

<template>
  <section class="selected-items d-flex px-6">
    <div class="selected-items__label pr-2 my-1 flex-shrink-0">
      Selected items:
    </div>
    <div class="selected-items__content">
      <v-chip
        v-for="chip in props.items"
        :key="`chip_${chip}`"
        @click:close="handleSelectedRemoveClick(chip)"
        closable
        size="small"
        class="mx-1 my-1"
      >
        {{ chip }}
      </v-chip>
    </div>
    <div class="selected-items__actions pt-2">
      <v-tooltip text="Delete selected" location="start">
        <template v-slot:activator="{ props }">
          <v-btn
            v-bind="props"
            icon="mdi-delete"
            color="error"
            class="selected-items__remove-all"
            @click="handleDeleteSelected"
          />
        </template>
      </v-tooltip>
    </div>
  </section>
</template>

<style scoped lang="scss">
.selected-items {
  height: 70px;
  flex-shrink: 0;
  overflow: auto;

  &__actions {
    margin-left: auto;
    position: sticky;
    top: 0;
  }

  &__remove-all {
  }
}
</style>
