@mixin heading1 {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;

  @media all and (min-width: 576px) {
    font-size: 42px;
  }

  @media all and (min-width: 768px) {
    font-size: 46px;
  }

  @media all and (min-width: 992px) {
    font-size: 54px;
  }

  @media all and (min-width: 1200px) {
    font-size: 62px;
  }
}

@mixin heading2 {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: 400;

  @media all and (min-width: 992px) {
    font-size: 48px;
  }
}

@mixin heading3 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;

  @media all and (min-width: 576px) {
    font-size: 20px;
  }

  @media all and (min-width: 992px) {
    font-size: 26px;
  }
}

@mixin heading4 {
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;

  @media all and (max-width: 767px) {
    font-size: 18px;
  }

  @media all and (max-width: 575px) {
    font-size: 20px;
  }
}

@mixin heading5 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.0625em;
}

@mixin article {
  font-family: 'Lato', 'sans-serif';
  font-size: 16px;
  font-weight: 400;
}

@mixin article-small {
  font-family: 'Lato', 'sans-serif';
  font-size: 14px;
  font-weight: 300;
}

@mixin calculateFlexBasisWithGap($items: 3, $gap: 40px) {
  flex-basis: calc((#{100% / $items}) - (#{($items - 1)} * #{$gap / $items}));
}
