@import 'fonts.scss';
@import 'mixins.scss';
@import 'variables.scss';

html {
  scroll-behavior: smooth;
}

body {
  background: lightblue;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;

  * {
    box-sizing: border-box;
  }
}

.tsvc-content-section {
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: content-box;
  padding-left: 100px;
  padding-right: 100px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

  @media all and (max-width: 1199px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media all and (max-width: 991px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &--no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  &--small-padding-top {
    padding-top: 40px;
  }

  &--small-padding-bottom {
    padding-bottom: 40px;
  }

  &--no-padding-bottom {
    padding-bottom: 0 !important;
  }

  &--no-vertical-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  &.breadcrumbs {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.tsvc-banner {
  h1 {
    @include heading1;
  }

  h2 {
    @include heading2;
  }

  h3 {
    @include heading3;
  }
}

.tsvc-content {
  line-height: 1.6;

  h3 {
    @include heading4;
  }

  p {
    @include article;

    &.small {
      @include article-small;
    }
  }

  strong {
    font-weight: 700;
  }

  ul {
    list-style: disc outside;
    margin-top: 5px;
    padding-left: 20px;

    &.arrows-list {
      padding-left: 0;
      list-style: none;

      li {
        display: flex;
        position: relative;
        padding-left: 20px;

        &::before {
          position: absolute;
          font-family: 'Material Icons';
          content: 'east';
          margin-top: 2px;
          left: 0;
        }
      }
    }
  }

  p + .arrows-list {
    margin-top: -15px;
  }

  a {
    font-family: 'Lato', 'sans-serif';
    font-weight: 700;
    text-decoration: none;
    color: #000;
    transition: 0.2s;

    &:hover {
      color: $color-blue-2;
    }
  }
}

.tsvc-menu {
  a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;

    &:active {
      font-weight: 700;
    }
  }
}

.tsvc-breadcrumbs {
  a {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }
}

.tsvc-link {
  @include article;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.tsvc-button {
  align-items: stretch;
  background: none;
  border-radius: 0;
  border: 1px solid $color-button-black;
  color: $color-button-black;
  display: inline-flex;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  outline: none;
  padding: 0;
  max-width: 220px;
  min-width: 140px;
  text-transform: uppercase;
  transition: 0.2s;

  span {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    min-height: 40px;
    text-align: center;

    @media all and (max-width: 767px) {
      padding: 10px;
    }
  }

  em {
    align-items: center;
    border-left: 1px solid $color-button-black;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    padding: 0 15px;

    svg {
      color: $color-button-black;
      height: 20px;
      width: 20px;
      transition: 0.2s;
      transform: translateX(0);
    }
  }

  &:hover {
    cursor: pointer;
    color: $color-button-black-hover;
    border-color: $color-button-black-hover;

    em {
      border-color: $color-button-black-hover;
      svg {
        color: $color-button-black-hover;
        transform: translateX(5px);
      }
    }
  }

  &--green {
    border-color: $color-button-green;
    color: $color-button-green;

    a {
      color: $color-button-green;
    }

    em {
      border-color: $color-button-green;
      svg {
        color: $color-button-green;
      }
    }

    &:hover {
      border-color: $color-button-green-hover;
      color: $color-button-green-hover;

      a {
        color: $color-button-green-hover;
      }

      em {
        border-color: $color-button-green-hover;
        svg {
          color: $color-button-green-hover;
        }
      }
    }
  }

  &--blue {
    border-color: $color-button-blue;
    color: $color-button-blue;

    a {
      color: $color-button-blue;
    }

    em {
      border-color: $color-button-blue;
      svg {
        color: $color-button-blue;
      }
    }

    &:hover {
      border-color: $color-button-blue-hover;
      color: $color-button-blue-hover;

      a {
        color: $color-button-blue-hover;
      }

      em {
        border-color: $color-button-blue-hover;
        svg {
          color: $color-button-blue-hover;
        }
      }
    }
  }

  &--white {
    border-color: #fff;
    color: #fff;

    a {
      color: #fff;
    }

    em {
      border-color: #fff;
      svg {
        color: #fff;
      }
    }

    &:hover {
      border-color: $color-light-3;
      color: $color-light-3;

      a {
        color: $color-light-3;
      }

      em {
        border-color: $color-light-3;
        svg {
          color: $color-light-3;
        }
      }
    }
  }

  &--small {
    min-width: 0;

    span,
    a {
      min-height: 0;
      font-size: 10px !important;
      padding: 8px 12px;
    }
  }
}

.tsvc-footer {
  background-image: linear-gradient(to bottom, #29a69b, #0f5356);
  text-align: center;

  &__logo {
    margin: 0 0 30px 0;

    img {
      margin: 0;
      display: block;
      max-width: 100%;

      @media all and (max-width: 575px) {
        margin: 0 auto;
      }
    }
  }

  &__left-column {
    text-align: left;

    p {
      color: #fff;
      @include article;
    }

    .tsvc-link,
    a {
      color: #fff;
    }

    @media all and (max-width: 575px) {
      text-align: center;
    }
  }

  &__menu {
    list-style: none !important;
    margin: 15px 0 0 0 !important;
    padding: 0 !important;

    li {
      text-align: center;
      margin-bottom: 16px;

      @media all and (min-width: 576px) {
        text-align: left;
      }

      .tsvc-link,
      a {
        color: #fff;
        @include article;
        text-decoration: none;
        text-transform: uppercase;

        &.no-uppercase {
          text-transform: none;
        }
      }
    }
  }
}

@import 'components/tsvc-autocomplete';
@import 'components/tsvc-file-uploader';
@import 'components/tsvc-business-card';
@import 'components/tsvc-menu';
@import 'components/tsvc-slider';
@import 'components/tsvc-content-boxes';
@import 'components/tsvc-contact-box';
@import 'components/tsvc-files-list';
@import 'components/tsvc-news-list';
@import 'components/forms/tsvc-form';
@import 'components/forms/tsvc-onefield-form';
@import 'components/forms/tsvc-pdf-search-form';
@import 'components/forms/tsvc-search-detail-card';
@import 'components/forms/tsvc-newsletter-form';
@import 'components/forms/tsvc-gear-search-form';
@import 'components/forms/tsvc-gear-search-results';
@import 'components/forms/tsvc-cmoiw-form';
@import 'components/forms/tsvc-cmoiw-form-results';
@import 'components/forms/tsvc-cmoiw-results-list';
@import 'components/forms/tsvc-msds-form';
@import 'components/forms/tsvc-msds-results';
@import 'components/tsvc-manufacturers';
@import 'components/tsvc-content-01';
@import 'components/tsvc-content-02';
@import 'components/tsvc-content-03';
@import 'components/tsvc-content-04';
@import 'components/tsvc-main-banner';
@import 'components/tsvc-breadcrumbs';
@import 'components/tsvc-raw-content';
@import 'components/tsvc-suppliers-list';
@import 'components/tsvc-contact-sections';
@import 'components/tsvc-manufacturers-list';
@import 'components/tsvc-spinner';
@import 'components/tsvc-bottom-bar';
@import 'components/tsvc-about-sections';
@import 'components/tsvc-pagination';
@import 'components/tsvc-blue-bar';
@import 'components/tsvc-cmoiw-basket';
@import 'components/cookies-notice';
@import 'components/forms/tsvc-inquiry';
@import 'components/forms/tsvc-login-form';
