$color-banner: #233468;
$color-content: #000000;
$color-links: #1997d4;

$color-green-1: #4eb6ad;
$color-green-2: #267a77;
$color-green-3: #7bcaa6;
$color-green-4: #398e66;
$color-blue-1: #7ed3eb;
$color-blue-2: #128bae;
$color-blue-3: #5e96d2;
$color-blue-4: #3c5883;

$color-light-1: #e2f7f8;
$color-light-2: #f1f6fb;
$color-light-3: #dde9f4;

$color-button-green: #24ab6b;
$color-button-green-hover: #88d7b2;
$color-button-blue: #1997d4;
$color-button-blue-hover: #82c9eb;
$color-button-black: #000000;
$color-button-black-hover: #828282;
