<table width="100%">
  <tr>
    <td>Name:</td>
    <td><%= name %></td>
  </tr>
  <tr>
    <td>Company:</td>
    <td><%= company %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= email %></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><%= phone %></td>
  </tr>
  <tr>
    <td>Message:</td>
    <td><%= message %></td>
  </tr>
  <tr>
    <td>Rodo:</td>
    <td>
      <% if (rodo) { %>
        accepted
      <% } else { %>
        not accetped
      <% } %>
    </td>
  </tr>
  <tr>
    <td>Newsletter:</td>
    <td>
      <% if (newsletter) { %>
        accepted
      <% } else { %>
        not accetped
      <% } %>
    </td>
  </tr>
</table>
