<table width="100%">
  <tr>
    <td style="vertical-align: top">Selected items:</td>
    <td>
      <% for(var i=0; i < selectedItems.length; i++) { %>
      <div style="margin-bottom: 20px;">
        CAS: <%= selectedItems[i].cas %> <br />
        Material: <%= selectedItems[i].material %> <br />
        Number: <%= selectedItems[i].number %> <br />
        <hr />
      </div>
      <% } %>
    </td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%= name %></td>
  </tr>
  <tr>
    <td>Company:</td>
    <td><%= company %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= email %></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><%= phone %></td>
  </tr>
  <tr>
    <td>Message:</td>
    <td><%= message %></td>
  </tr>
  <tr>
    <td>Rodo:</td>
    <td>
      <% if (rodo) { %>
        accepted
      <% } else { %>
        not accetped
      <% } %>
    </td>
  </tr>
  <tr>
    <td>Newsletter:</td>
    <td>
      <% if (newsletter) { %>
        accepted
      <% } else { %>
        not accetped
      <% } %>
    </td>
  </tr>
</table>
