<table width="100%">
  <tr>
    <td>Imie i nazwisko:</td>
    <td><%= name %></td>
  </tr>
  <tr>
    <td>Firma:</td>
    <td><%= company %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= email %></td>
  </tr>

  <tr>
    <td><strong>Dane dotyczace ankiety:</strong></td>
  </tr>

  <tr>
    <td>1. Jakość współpracy z naszą firmą? *</td>
    <td><%= inquiry_01 %></td>
  </tr>
  <tr>
    <td>2. Jakość otrzymanych informacji na temat naszych produktów? *</td>
    <td><%= inquiry_02 %></td>
  </tr>
  <tr>
    <td>3. Czas oczekiwania na oferte? *</td>
    <td><%= inquiry_03 %></td>
  </tr>
  <tr>
    <td>4. Terminowość dostawy zamówienia? *</td>
    <td><%= inquiry_04 %></td>
  </tr>
  <tr>
    <td>5. Jakość otrzymanego towaru? *</td>
    <td><%= inquiry_05 %></td>
  </tr>
  <tr>
    <td>6. Jakość szkolenia z zakresu obsługi urządzeń (dot. zakupów w dziale Aparatury)? *</td>
    <td><%= inquiry_06 %></td>
  </tr>
  <tr>
    <td>7. Adekwatność oferty certyfikowanych materiałów odniesienia w stosunku do potrzeb (dot. zakupów w dziale CRM)? *</td>
    <td><%= inquiry_07 %></td>
  </tr>
  <tr>
    <td>8. Cenę oferowanego produktu w stosunku do jego parametrów technicznych? *</td>
    <td><%= inquiry_08 %></td>
  </tr>

  <tr>
    <td>Wiadomosc:</td>
    <td><%= message %></td>
  </tr>

  <tr>
    <td>Rodo:</td>
    <td>
      <% if (rodo) { %>
        accepted
      <% } else { %>
        not accetped
      <% } %>
    </td>
  </tr>
</table>
