.cookiesNotice {
  position: fixed;
  z-index: 100000;
  left: 0;
  right: 0;
  background-color: $color-blue-2;

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
  }

  &__content {
    display: flex;
    padding: 20px;

    @media all and (max-width: 575px) {
      flex-direction: column;
    }
  }

  &__message {
    color: #fff;
    margin: 10px 10px 10px 0;
    font-size: 14px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: auto;
    padding-top: 5px;

    > button {
    }
  }

  &__button,
  &__privacy-link {
    white-space: nowrap;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px 0;
    padding: 5px 20px;
    background-color: #fff;
    border: none;
    outline: none;
    color: $color-blue-2;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    font-family: 'Montserrat';
    line-height: 1.4;
    text-decoration: none;
    transition: background-color 0.3s;

    @media all and (max-width: 575px) {
      justify-content: center;
    }

    &:hover {
      background: $color-light-3;
      color: $color-blue-2;
    }

    &-accept {
    }

    &-privacy {
    }

    &-close {
      background-color: transparent;
      border: none;
      outline: none;
      color: #fff;
      cursor: pointer;
      font-weight: 600;
      font-size: 22px;
      margin-left: 20px;
      font-family: 'Montserrat';
      display: flex;
      align-items: flex-start;
      padding-top: 10px;
      transition: color 0.3s;

      span {
        display: block;
      }

      &:hover {
        color: $color-light-3;
      }
    }
  }
}
