@import '../variables';

.tsvc-content {
  .tsvc-autocomplete {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    .MuiSvgIcon-root {
      position: absolute;
      right: 10px;
      cursor: pointer;
    }

    .react-autosuggest__container {
      width: 100%;
    }

    .react-autosuggest__input {
      border: 1px solid black;
      font-family: 'Lato';
      font-size: 15px;
      font-weight: 400;
      padding: 15px 40px 15px 10px;
      display: block;
      width: 100%;
      transition: 0.2s;

      &:focus,
      &:active {
        outline: none;
        border-color: $color-blue-2;
      }
    }

    .react-autosuggest__suggestions-container {
      position: absolute;
      z-index: 5;
      background: $color-light-3;
      opacity: 0;
      transition: 0.2s opacity;
      min-width: 300px;
      max-width: 80%;

      &--open {
        opacity: 1;
      }

      ul {
        margin: 0 0 10px 0;
        padding: 0;
        list-style: none;
        max-height: 280px;
        overflow: auto;

        li {
          padding: 0 10px;

          span {
            cursor: pointer;
            display: block;
            margin: 0 0 -1px 0;
            font-size: 16px;
            padding: 10px;
            border-bottom: 1px solid $color-green-1;
            text-transform: none;
          }

          &:last-child {
            span {
              border: none;
              margin-bottom: 0;
            }
          }

          &:hover {
            background-color: $color-green-1;

            span {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
