.tsvc-content-boxes {
  h3 {
    margin-top: 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 60px;

    &-box {
      flex-grow: 0;
      overflow: hidden;
      @include calculateFlexBasisWithGap(4, 60px);
    }

    @media all and (max-width: 1399px) {
      gap: 40px;

      &-box {
        @include calculateFlexBasisWithGap(4, 40px);
      }
    }

    @media all and (max-width: 1199px) {
      gap: 30px;

      &-box {
        @include calculateFlexBasisWithGap(4, 30px);
      }
    }

    @media all and (max-width: 991px) {
      gap: 40px;

      &-box {
        @include calculateFlexBasisWithGap(3, 40px);
      }

      &__item {
        padding: 0;
      }
    }

    @media all and (max-width: 767px) {
      gap: 30px;

      &-box {
        @include calculateFlexBasisWithGap(2, 30px);
      }
      &__item {
        padding: 0;
      }
    }

    @media all and (max-width: 479px) {
      margin-top: 10px;
      gap: 50px;

      &-box {
        flex-basis: 100%;
      }
    }
  }

  &__item,
  a {
    display: block;

    h2 {
      @include heading3;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-size: 18px !important;
      padding: 20px;

      @media all and (max-width: 1200px) {
        font-size: 16px !important;
      }

      @media all and (max-width: 565px) {
        font-size: 20px !important;
      }
    }

    .tsvc-button {
      max-width: 1000px;
      span {
        text-align: center;
      }
    }

    &:hover {
      cursor: pointer;
      text-decoration: none !important;

      .tsvc-button {
        color: $color-button-black-hover;
        border-color: $color-button-black-hover;

        em {
          border-color: $color-button-black-hover;
          svg {
            color: $color-button-black-hover;
            transform: translateX(5px);
          }
        }
      }
    }

    &-bg {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }

      img {
        position: absolute;
        max-width: 90%;
        max-height: 90%;
        padding: 15px;
      }
    }

    .tsvc-button {
      margin-top: 20px;
      width: 100%;

      span {
        padding: 5px;
      }
    }
  }

  &__footer {
    margin: 20px 0;

    .tsvc-link {
      display: inline-block;
    }
  }

  &--animated {
    .tsvc-content-boxes {
      &__item {
        &-bg {
          img {
            transform: scale(1);
            transition: transform 0.2s;
          }
        }
        &:hover {
          .tsvc-content-boxes__item-bg {
            img {
              transform: scale(1.2);
            }
          }
        }
      }
    }

    &--inverted-animation {
      .tsvc-content-boxes {
        &__item {
          &-bg {
            img {
              transform: scale(1);
              transition: transform 0.2s;
            }
          }
          &:hover {
            .tsvc-content-boxes__item-bg {
              img {
                transform: scale(0.8);
              }
            }
          }
        }
      }
    }
  }

  &--narrow {
    .tsvc-content-boxes__container {
      gap: 30px;

      &-box {
        // flex-grow: 1;
        @include calculateFlexBasisWithGap(3, 30px);
      }

      @media all and (max-width: 1399px) {
        gap: 20px;

        &-box {
          @include calculateFlexBasisWithGap(3, 20px);
        }
      }

      @media all and (max-width: 1199px) {
        gap: 20px;

        &-box {
          @include calculateFlexBasisWithGap(3, 20px);
        }
      }

      @media all and (max-width: 991px) {
        gap: 30px;

        &-box {
          @include calculateFlexBasisWithGap(2, 30px);
        }

        &__item {
          padding: 0;
        }
      }

      @media all and (max-width: 767px) {
        gap: 20px;

        &-box {
          @include calculateFlexBasisWithGap(2, 20px);
        }
        &__item {
          padding: 0;
        }
      }

      @media all and (max-width: 565px) {
        margin-top: 10px;
        gap: 20px;

        &-box {
          flex-basis: 100%;
        }
      }
    }
  }
}
