@import '../variables';

.header-menu {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  transition: background 0.3s;

  .tsvc-content-section {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__content {
    display: none;
    align-items: stretch;
    height: 90px;
    justify-content: space-between;
    padding: 0;
    transition: height 0.3s;

    &-box {
      display: flex;
      align-items: stretch;
      width: 100%;
    }

    .tsvc-link {
      color: #000;
      font-family: 'Lato', sans-serif;
      font-size: 13px;
      font-weight: 400;
      padding: 5px 0 0 0;
      text-decoration: none;
      text-transform: uppercase;

      &:active {
        font-weight: 700;
      }
    }
  }

  &__items {
    display: flex;

    justify-content: space-between;
    align-items: stretch;
    height: 100%;

    .tsvc-link {
      padding: 5px;
      display: flex;
      align-items: center;
      transition: 0.2s;

      &:hover {
        color: $color-blue-2;
      }

      &.active {
        font-weight: 600;
      }
    }
  }

  &__submenu {
    background-color: rgba(18, 139, 174, 0.7);
    border-radius: 2px;
    position: absolute;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    width: 350px;
    max-width: 90vw;
    top: 100%;
    transition: opacity 0.4s, max-height 0.4s;

    ul {
      list-style: none;
      padding: 15px 40px 15px 20px;
      margin: 0;

      li {
        position: relative;
        display: flex;
        align-items: center;

        &::before {
          font-family: 'Material Icons';
          content: 'east';
          color: #fff;
          margin-right: 5px;
        }

        .tsvc-link {
          @include heading5;
          padding: 5px;
          color: #fff;
        }

        &:hover,
        &.active {
          &::before,
          .tsvc-link {
            color: $color-blue-1;
          }
        }
      }
    }
  }

  &__item {
    align-items: center;
    display: flex;
    position: relative;
    padding: 0 5px;

    &:hover {
      .header-menu__submenu {
        opacity: 1;
        max-height: 500px;
      }
    }
  }

  &__logo {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    transition: width 0.3s, margin 0.3s;
    z-index: 11;

    img {
      display: block;
      max-height: 100%;
      max-width: 100%;
    }
  }

  &--scrolled {
    background: rgba(255, 255, 255, 1);

    .header-menu__content {
      height: 70px;
    }
  }

  @media all and (min-width: 992px) {
    .header-menu__content {
      display: flex;
      height: 100px;

      .tsvc-link {
        font-size: 15px;
      }
    }

    &--scrolled {
      .header-menu__content {
        height: 80px;
      }
    }
  }

  @media all and (min-width: 1200px) {
    .header-menu__content {
      height: 120px;

      .tsvc-link {
        font-size: 18px;
      }
    }

    &--scrolled {
      .header-menu__content {
        height: 100px;
      }
    }
  }

  .mobile-menu {
    overflow-y: auto;
    padding-top: 80px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 10;

    .header-menu__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.has-submenu {
        position: relative;
      }

      .tsvc-link {
        display: flex;
        align-items: center;
        color: $color-blue-2;
        font-size: 22px;
        padding: 5px;
        position: relative;
        text-decoration: none;

        &.active {
          color: #000;
        }
      }
    }

    &__expand-submenu {
      position: absolute;
      right: -35px;
      font-size: 38px;
    }

    .header-menu__submenu {
      position: relative;
      background-color: transparent;
      max-height: 500px;
      top: auto;
      width: auto;
      opacity: 1;

      ul {
        padding: 0;
        margin-bottom: 20px;

        li {
          text-align: center;
          justify-content: center;

          &::before {
            display: none;
          }

          .tsvc-link {
            color: $color-blue-4;
            font-size: 16px;

            &::after {
              display: none;
            }
          }
        }
      }
    }

    &--active {
      @media all and (max-width: 992px) {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__content-mobile {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    transition: padding 0.3s;

    .hamburger {
      background: none;
      outline: none;
      border: none;
      padding: 0;
      z-index: 11;

      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: $color-blue-4;
      }
    }

    .header-menu__logo {
      width: 140px;
      margin: 0;
    }

    @media all and (min-width: 992px) {
      display: none;
    }
  }

  &--scrolled {
    .header-menu__content-mobile {
      padding: 5px 0;
    }
  }
}
