.tsvc-content-01 {
  article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }

    h4 {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 18px;
    }

    h5 {
      margin-top: 10px;
    }

    .tsvc-link {
      margin-top: 20px;

      @media all and (max-width: 767px) {
        margin-top: 0;
      }
    }
  }

  img {
    display: block;
    margin-top: 40px;
    width: 100%;

    @media all and (min-width: 768px) {
      margin-top: 0;
    }
  }
}
