.tsvc-contact-box {
  margin-bottom: 40px;

  article {
    display: flex;
    align-items: center;
    flex-direction: column;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }

    h4 {
      margin-top: 10px;
      text-transform: uppercase;
    }

    h3,
    h4,
    p {
      text-align: center;
    }

    .tsvc-link {
      margin-top: 20px;

      @media all and (max-width: 767px) {
        margin-top: 0;
      }
    }

    @media all and (min-width: 768px) {
      align-items: flex-start;

      h3,
      h4,
      p {
        text-align: left;
      }

      .tsvc-link {
        margin-top: 0;
      }
    }

    @media all and (min-width: 576px) {
      text-align: left;
      margin-bottom: 0;
    }
  }
}
