.tsvc-cmoiw-basket {
  &__header {
    background-color: $color-light-2;
    padding: 20px 30px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
  }

  &__clear-button {
    display: inline-flex;
    margin: 0 0 0 -5px;

    .MuiSvgIcon-root {
      margin-right: 5px;
    }
  }

  &__expand-button {
    .icon {
      transition: transform 0.3s;
      transform: scaleY(-1);
    }

    &.collapsed {
      .icon {
        transform: scaleY(1);
      }
    }
  }

  &__content {
    overflow: hidden;
  }

  &__footer {
    margin-top: 30px;
  }
}
