.tsvc-file-uploader {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 20px;

  &__input {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
  }

  &__button {
    background-color: transparent;
    border-radius: 0;
    border: 1px solid $color-button-black;
    color: $color-button-black;
    padding: 8px 16px;
    @include article;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 30px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      border-color: $color-button-black-hover;
      color: $color-button-black-hover;
    }
  }

  &__label {
    margin: 0;
    @include article;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.tsvc-content .tsvc-file-uploader .tsvc-file-uploader__label {
  font-size: 12px;
}
