.tsvc-about-sections {
  &__item {
    &:nth-child(odd) {
      background-color: $color-light-2;
    }

    &-image {
      img {
        display: block;
      }
    }

    &-content {
      margin-left: 30px;

      @media all and (max-width: 767px) {
        margin-left: 20px;
      }

      @media all and (max-width: 575px) {
        margin: 30px 0 0 0;
      }

      article {
        h3:first-child {
          @include heading4;
          margin-top: 10px;
          font-weight: 600;
          font-size: 18px;
        }
      }
    }
  }
}
