.tsvc-news-list {
  h3 {
    @include heading4;
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    &:nth-child(odd) {
      background-color: $color-light-2;
    }

    &-block {
      display: block;
    }

    &-image {
      margin-right: 30px;

      @media all and (max-width: 991px) {
        margin-right: 20px;
      }

      @media all and (max-width: 575px) {
        margin: 0 auto 20px;
      }

      img {
        display: block;
        max-width: 100%;
      }
    }

    &-title {
      h4 {
        @include heading4;
        font-weight: 600;
        font-size: 18px;
        margin: 0;

        @media all and (max-width: 575px) {
          text-align: left;
        }
      }
    }

    &-date {
      margin-bottom: 30px;
      @include article;
    }

    &-content {
      article {
        @include article;
      }

      .tsvc-button {
        margin-top: 20px;
      }
    }
  }

  &--short {
    margin-top: 10px;
    h3 {
      font-size: 20px;
      margin-bottom: 30px;
    }

    .tsvc-news-list {
      &__item {
        background-color: transparent;
        margin-bottom: 60px;

        &-content {
          color: #000;
        }

        &-title {
          h4 {
            @include article;
            font-weight: 600;
          }
        }

        &-date {
        }

        .tsvc-button {
          margin-top: 10px;
        }
      }
    }
  }
}
