.tsvc-content-04 {
  &__item-bg {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    h2 {
      @include heading4;
      margin: 0;
      position: absolute;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      text-align: center;
      max-width: 100%;
      padding-right: 20px;
      padding-left: 20px;
      hyphens: auto;
      word-break: break-word;
    }
  }

  &__buttons {
    justify-content: center;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    @media all and (max-width: 767px) {
      margin-top: 20px;
    }

    & > * {
      @include calculateFlexBasisWithGap(2, 20px);

      > button {
        width: 100%;
      }
    }
  }

  &__info {
    margin-left: 40px;

    @media all and (max-width: 767px) {
      margin-left: 20px;
    }

    @media all and (max-width: 575px) {
      margin-left: 0;
      margin-top: 40px;
    }

    h3 {
      margin-top: 0;
    }

    .tsvc-link {
      margin-top: 30px;

      @media all and (max-width: 767px) {
        margin-top: 20px;
      }

      .tsvc-button {
      }
    }
  }
}
