.tsvc-breadcrumbs {
  margin: 0;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      margin-right: 5px;
      display: inline-flex;
      align-items: flex-start;

      .tsvc-link {
        font-size: 13px;
        display: inline-block;
        margin-left: 5px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}
