@import '../variables';

.tsvc-files-list {
  position: relative;
  z-index: 10;

  h3 {
    margin-top: 0;
  }

  &__header {
    margin-bottom: 60px;

    p {
      @include article;
    }
  }

  &__list {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;

    li {
      display: flex;
      align-items: center;
      padding: 40px;

      &:nth-child(odd) {
        background-color: $color-light-3;
      }

      &:nth-child(even) {
        background-color: $color-light-2;
      }

      img {
        margin-right: 20px;
      }

      span {
        @include article;
      }

      svg {
        margin: 2px 5px 0;
      }

      a,
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #000;
        padding: 0;
        font-family: 'Lato', 'sans-serif';
        font-weight: 700;
        font-size: 15px;
        transition: 0.3s;

        &:hover {
          color: $color-links;
        }
      }
    }
  }
}
