.tsvc-content-02 {
  overflow: hidden;

  &__anchor {
    position: relative;

    article {
      color: #fff;
      padding: 50px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      z-index: 1;

      h3 {
        margin-top: 0;
        color: #fff;
      }

      .tsvc-link {
        margin-top: 20px;

        @media all and (max-width: 767px) {
          margin-top: 0;
        }
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: -20px;
    height: 100%;
    padding-right: 9999px;
    z-index: 0;
    background-image: linear-gradient(
      to bottom right,
      $color-blue-3,
      $color-blue-4
    );
  }

  @media all and (min-width: 576px) {
    .tsvc-content-02__anchor {
      article {
        text-align: left;
      }
    }

    .tsvc-content-02__overlay {
      left: 0;
    }
  }
}
