.tsvc-blue-bar {
  background-color: $color-blue-3;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h4 {
      @include heading4;
      color: #fff;
    }

    .tsvc-link {
      margin-left: 30px;
    }
  }

  @media all and (max-width: 767px) {
    &__content {
      h4 {
        text-align: center;
      }
    }
  }
}
