.tsvc-manufacturers {
  h3 {
    margin: 0;
  }

  &__container {
    align-items: center;
    display: flex;
    // flex-wrap: wrap;
    width: 100%;
    gap: 20px 60px;
    padding: 30px 0;
  }

  &__item {
    @include calculateFlexBasisWithGap(5, 60px);
    display: flex;
    flex-grow: 1;
    justify-content: center;

    &-image {
      display: block;
      width: 100%;
    }
  }

  @media all and (max-width: 1399px) {
    .tsvc-manufacturers {
      gap: 20px 40px;

      &__item {
        @include calculateFlexBasisWithGap(4, 40px);
      }
    }
  }

  @media all and (max-width: 1199px) {
    .tsvc-manufacturers {
      &__item {
        @include calculateFlexBasisWithGap(4, 40px);
      }
    }
  }

  @media all and (max-width: 767px) {
    .tsvc-manufacturers {
      &__item {
        @include calculateFlexBasisWithGap(2, 40px);
      }
    }
  }
}
