.tsvc-contact-sections {
  h3 {
    @include heading4;
  }

  h4.title {
    margin: 40px 0 0;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    @include calculateFlexBasisWithGap(3, 60px);

    @media all and (max-width: 767px) {
      @include calculateFlexBasisWithGap(2, 60px);
    }

    @media all and (max-width: 575px) {
      flex-basis: 100%;
    }

    h4 {
      font-size: 16px;
      text-transform: uppercase;
    }

    article {
      p {
        line-height: 1.5;
      }
    }

    &--double {
      @include calculateFlexBasisWithGap((3 / 2), 60px);

      @media all and (max-width: 767px) {
        flex-basis: 100%;
      }

      article {
        column-count: 2;
        column-gap: 0;

        @media all and (max-width: 575px) {
          column-count: 1;

          p {
            padding-right: 0;
          }
        }

        p {
          padding-right: 30px;
        }

        p:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
