.tsvc-business-card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: rgb(92, 202, 233);
  background: linear-gradient(
    110deg,
    rgba(92, 202, 233, 1) 0%,
    rgba(21, 133, 166, 1) 100%
  );

  @media all and (max-width: 575px) {
    flex-direction: column;
  }

  @media all and (max-width: 991px) {
    margin-bottom: 40px;
  }

  @media all and (min-width: 992px) and (max-width: 1199px) {
    flex-direction: column;
  }

  &__column {
    padding: 60px;
    color: #fff;
    border-right: 1px solid #fff;
    flex-basis: 50%;

    &:last-child {
      border: none;
    }

    @media all and (max-width: 575px) {
      border-right: none;
      border-bottom: 1px solid #fff;
      padding: 40px;
    }

    @media all and (max-width: 767px) {
      padding: 40px;
    }

    @media all and (min-width: 992px) and (max-width: 1199px) {
      padding: 60px;
      border-right: none;
      border-bottom: 1px solid #fff;
    }

    @media all and (min-width: 1200px) and (max-width: 1499px) {
      padding: 40px;
    }
  }

  h4 {
    text-align: left;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__sublabel {
    font-weight: 600;
    font-size: 16px;
  }

  article {
    margin-top: 20px;

    p {
      margin-top: 0;
      margin-bottom: 10px;
    }

    a {
      color: #fff;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
