.tsvc-manufacturers-list {
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @media all and (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    &--left {
    }

    &--right {
      margin-left: 40px;
    }

    h2 {
      @include heading3;
      margin-top: 0;
      text-transform: uppercase;
    }

    article {
      @include article;
    }

    h3 {
      @include heading5;
      text-align: left;
      margin-bottom: 5px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &-image {
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border: 1px solid $color-light-3;

      &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }

      img {
        position: absolute;
        max-width: 90%;
      }
    }

    &-links {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      margin-top: 20px;

      & > * {
        @include calculateFlexBasisWithGap(2, 20px);

        > button {
          width: 100%;
        }
      }
    }

    &-certificates {
      margin-top: 0;

      li {
        position: relative;
        padding-left: 20px;

        .tsvc-link {
          color: #000;
          font-weight: 300;

          &:hover {
            text-decoration: underline;
          }
        }

        .icon {
          position: absolute;
          left: 0;
          top: 0;
          width: 18px;
        }
      }
    }

    &:nth-child(odd) {
      background-color: #fff;
    }

    &:nth-child(even) {
      background-color: $color-light-2;
    }

    @media all and (max-width: 767px) {
      background-color: transparent !important;
      flex-basis: 50%;

      .tsvc-manufacturers-list__item--right {
        margin-top: 20px;
        margin-left: 0;
      }
    }

    @media all and (max-width: 575px) {
      flex-basis: 100%;
    }
  }
}
