@import '../variables';

.tsvc-slider {
  height: 300px;
  position: relative;
  z-index: 10;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    display: block;
    height: 100%;
    max-width: 1000%;
  }

  &__caption {
    position: absolute;
    display: flex;
    left: 50%;

    h1 {
      color: $color-banner;
    }

    &-center {
      position: relative;
      left: -50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .tsvc-button {
      margin-top: 30px;
    }
  }

  @media all and (min-width: 576px) {
    height: 400px;
  }

  @media all and (min-width: 768px) {
    height: 500px;
  }

  @media all and (min-width: 992px) {
    height: 600px;
  }
}
