.tsvc-pagination {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px 0;

  .MuiTextField-root {
    max-width: 45px;

    input {
      text-align: center;
      font-weight: 600;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0 10px;
    flex-wrap: wrap;
  }

  .tsvc-link {
    display: inline-flex;
    align-items: center;
    @include article;
    font-weight: 600;
    color: #000;
    transition: color 0.2s;

    svg {
      width: 30px;
      height: 30px;
      fill: #000;
      transition: fill 0.2s;
    }

    &:hover {
      color: $color-blue-2;

      svg {
        fill: $color-blue-2;
      }
    }

    &.active {
      pointer-events: none;
      color: $color-blue-2;
    }
  }
}
