.tsvc-suppliers-list {
  h3 {
    @include heading4;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item,
  &__link {
    @include calculateFlexBasisWithGap(4, 30px);
    color: #000;
    text-decoration: none;

    @media all and (max-width: 991px) {
      @include calculateFlexBasisWithGap(3, 30px);
    }

    @media all and (max-width: 575px) {
      @include calculateFlexBasisWithGap(2, 30px);
    }

    @media all and (max-width: 399px) {
      @include calculateFlexBasisWithGap(1, 30px);
    }

    &-image {
      width: 100%;

      img {
        display: block;
      }
    }

    h4 {
      @include heading5;
    }
  }
}
