.tsvc-main-banner {
  height: 260px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  &__image {
    position: absolute;
    width: auto;
    min-width: 100%;
    max-width: 1000%;
    height: 100%;
  }

  &__caption {
    position: absolute;
    display: flex;
    left: 50%;
    margin-top: 10%;

    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) {
        margin-top: 5% !important;
      }
    }

    &-center {
      position: relative;
      left: -50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      font-size: 30px !important;
      line-height: 1.4;
      color: $color-banner;
    }

    h2 {
      margin: 0;
      font-size: 32px !important;
      display: none;
      text-align: center;
      color: $color-banner;
    }

    .tsvc-button {
      margin-top: 30px;
    }
  }

  @media all and (min-width: 576px) {
    height: auto;

    .tsvc-main-banner {
      &__image {
        position: static;
        display: block;
        left: auto;
        height: auto;
        width: 150%;
      }
    }
  }

  @media all and (min-width: 768px) {
    .tsvc-main-banner {
      &__caption {
        h1 {
          font-size: 42px !important;
          line-height: 1.1;
        }

        h2 {
          display: block;
          margin-top: 10px;
          font-size: 22px !important;
        }
      }

      &__image {
        width: 140%;
      }
    }
  }

  @media all and (min-width: 1200px) {
    .tsvc-main-banner {
      &__image {
        width: 100%;
      }

      &__caption {
        margin-top: 8%;

        @media not all and (min-resolution: 0.001dpcm) {
          @supports (-webkit-appearance: none) {
            margin-top: 4% !important;
          }
        }
      }
    }
  }

  @media all and (min-width: 1600px) {
    .tsvc-main-banner {
      &__image {
        width: 100%;
      }
    }
  }
}
